<section class="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../assets/icons8-instagram-50.png" alt="Logo 1">
          <img src="../assets/icons8-facebook-50.png" alt="Logo 2">
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>Email: info&#64;example.com</p>
          <p>Phone: +123456789</p>
        </div>
        <div class="col-md-4">
          <p>&#169; 2023 Your News App. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</section>